<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="model.cancel()"><span
            aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Start irrigation for the: <span style="color: #71843f"><strong>{{model.parent.myDevice.description}}</strong></span>
    </h4>
</div>

<form class="form-horizontal" id="startIrrigation_form">
    <div class="modal-body">

        <div class="form-group col-md-8 col-sm-8 cols-xl-8 xol-xs-8">
            <label class="control-label">Date From</label>

            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="" href="">
                    <div class="input-group"><input type="text" class="form-control" data-ng-model="model.datefrom">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="model.datefrom"
                                    ng-change="model.updateDateFrom(model.datefrom)"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown2', modelType: 'moment', startView: 'hour', minView: 'minute', minuteStep: 1 }"
                                    data-before-render="model.beforeRenderStartDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                </ul>
            </div>
        </div>


        <div class="form-group col-md-8 col-sm-8 cols-xl-8 xol-xs-8">
            <label class="control-label">Date To</label>

            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="" href="">
                    <div class="input-group"><input type="text" class="form-control" data-ng-model="model.dateto">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="model.dateto"
                                    ng-change="model.updateDateTo(model.dateto)"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown3',  modelType: 'moment', startView: 'hour', minView: 'minute', minuteStep: 1 }"
                                    data-before-render=" model.beforeRenderEndDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                </ul>
            </div>
        </div>

        <div class="form-group col-md-8 col-sm-8 cols-xl-8 xol-xs-8">
            Total irrigation duration: <span style="color: #71843f"><strong>{{model.irrigationDuration}}</strong></span>
        </div>

        <div class="form-group col-md-8 col-sm-8 cols-xl-8 xol-xs-8">
            Water consumption: <span style="color: #71843f"><strong>{{model.modWaterConsume}}</strong></span>
        </div>

        <div class="row">
            <div class="form-group col-md-8 col-sm-8 cols-xl-8 xol-xs-8">
                <button type="submit" class="btn btn-primary pull-right col-md-3" name="event" value="START" style="margin-left: 5px;" form="startIrrigation_form"
                        ng-click="model.submit()">
                    Start
                </button>
                <button type="button" class="btn btn-default pull-right col-md-3" ng-click="model.cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </div>

    <!--<div class="modal-footer">-->
    <!--</div>-->

</form>