<h4><span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span>Home</h4>
<hr id="headline">
<div class="row" id="home-button-bar">
    <div class="control-group col-sm-2">
        <label class="control-label">View By End Device</label>

        <div class="controls">
            <select class="form-control" id="editevent_repeat_time" ng-model="model.myDevice"
                    ng-options="dev.identifier as dev.identifier for dev in model.devices.enddevices">
            </select>
            <!--  Second way without ng-options <select class="form-control" id="editevent_repeat_time" ng-model="model.myDevice">
                   <option ng-repeat="dev in model.devices.enddevices" value="{{dev.identifier}}">{{dev.identifier}}</option>
               </select>    <-->
        </div>

    </div>
    <!--<div class="col-sm-3"><strong>End Device :</strong> <span ng-bind="model.myDevice">   </span>-->
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <openlayers ol-center="model.center" ol-controls="model.controls" ol-defaults="model.defaults" width="100%"
                    height="400px"></openlayers>
    </div>
    <chart-graph ng-if="model.myDevice" enddev="model.myDevice"></chart-graph>
</div>


