<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/agriccloud.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>agriccloud.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{"yyyy-MM-dd HH:mm:ss,SSS"} | [%thread] | %-5level | \(%25class{0}:%line\) - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{"yyyy-MM-dd HH:mm:ss,SSS"} | [%thread] | %-5level | \(%25class{0}:%line\) - %message%n</pattern>
        </encoder>
    </appender>

    <logger name="com.webstart" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.springframework" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>