<top-bar></top-bar>

<div class="fullcont">
    <div class="container-fluid">
        <!--fixed width no full width container -->
        <div class="row row-offcanvas row-offcanvas-left" id="mynavbar2">
            <div class="row row-offcanvas row-offcanvas-right">
                <left-bar></left-bar>
                <div class="col-xl-9 col-md-9 col-sm-9 col-xs-9 sidebar-offcanvas" role="navigation" id="datacontent">
                    <ng-outlet></ng-outlet>
                </div>
            </div>
        </div>
    </div>
</div>