<top-bar></top-bar>

<div class="fullcont">
    <div class="container-fluid">
        <!--fixed width no full width container -->
        <div class="row row-offcanvas row-offcanvas-left" id="mynavbar2">
            <div class="row row-offcanvas row-offcanvas-right">
                <left-bar></left-bar>
                <div class="col-sm-10 col-xs-4 sidebar-offcanvas" role="navigation"
                     id="datacontent">

                    <ng-outlet></ng-outlet>
                </div>
            </div>
        </div>
    </div>
</div>