<div class="navbar navbar-fixed-top navbar-default" role="navigation" id="allheader">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="pull-left visible-xs">
                <button type="button" class="btn btn-primary" id="menu_button" data-toggle="#mynavbar2">Menu</button>
            </p>
            <!--this is a test for initial commit-->
            <a class="navbar-brand" href="#">
                <img class="img-responsive" alt="Notifications" width="70" height="60"
                     src="/images/logo.png ">

                <h3 class="headerspan">Agric Cloud</h3>
            </a>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown topbaritem">
                    <a href="" class="dropdown-toggle" id="notifanime" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                        <span id="badge_counter">{{model.notifications.length}}</span>
                    </a>
                        <ul ng-if="model.notifications.length !== 0" class="dropdown-menu dropdown-messages" role="menu">
                            <li ng-repeat="notification in model.notifications">
                                    <div class="media-body">
                                        <i class="pull-right fa fa-times" style="cursor: pointer" ng-click="model.clearMessage(notification.notificationid)"></i>
                                        <div ng-if="notification.notificationType===0">
                                            <small class="pull-left"><span class="flaticon-temperature" aria-hidden="true"></span></small>
                                        </div>
                                        <div ng-if="notification.notificationType===1">
                                            <small class="pull-left"><span class="flaticon-bathroom-faucet-tool" aria-hidden="true"></span></small>
                                        </div>
                                        <strong>{{notification.description}}</strong><br>
                                        <small>{{notification.datecreated}}</small>
                                    </div>
                                <div class="divider"></div>
                            </li>
                            <li>
                                <span style="cursor: pointer">
                                    <i class="pull-right fa fa-times" ng-click="model.clearAllMessages()">
                                        Clear Alerts
                                    </i>
                                </span>
                            </li>
                        </ul>
                        <ul ng-if="model.notifications.length === 0" class="dropdown-menu dropdown-messages" role="menu" id="dropdown_notifications">
                            <li>
                                <h4>No unread messages</h4>
                            </li>
                        </ul>
                </li>

                <li class="dropdown topbaritem">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{model.user.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-link="['UserProfile']">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> My Profile
                            </a>
                        </li>
                        <li>
                            <a ng-link="['Profile']">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Informations
                            </a>
                        </li>
                        <li data-toggle="modal" style="cursor: pointer"> <!--data-target="#logoutmodal"-->
                            <a ng-click="model.showModal()">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
                            </a>
                        </li>
                    </ul>
                </li>
                <li role="presentation" class="topbaritem"><a href="#" onclick="">Home</a>
                </li>

                <li role="presentation" class="topbaritem">
                    <a href="" onclick=""><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
