<h4><span class="glyphicon glyphicon-scale" aria-hidden="true"></span>Control panel</h4>
<hr id="headline">

<div class="row col-xl-12 col-md-12 col-sm-12 col-xs-12">
    <span>Last measure for end device at <b>{{model.lastDate}}</b></span>
</div>
<br>

<div class="row col-xl-5 col-md-5 col-sm-6 col-xs-6">
    <table id="last" class="table table-condensed table-bordered table-striped table-condensed ">
        <tbody>
        <tr>
            <td><b>Observable Property</b></td>
            <td><b>Datetime</b></td>
            <td><b>Measure Value</b></td>
            <td><b>Unit</b></td>
        </tr>

        <tr ng-repeat="tabdata in model.lastmeasuresData">
            <td>{{tabdata.ObservableProperty}}</td>
            <td>{{tabdata.phenomenonTime}}</td>
            <td>{{tabdata.value}}</td>
            <td>{{tabdata.unit}}</td>
        </tr>
        </tbody>
    </table>
</div>
