<h4><span class="glyphicon glyphicon-scale" aria-hidden="true"></span>Control panel</h4>
<hr id="headline">

<div class="row col-xl-12 col-md-12 col-sm-12 col-xs-12">
    Last measure for end device at <span style="color: #71843f"><strong>{{model.lastDate}}</strong></span> from <span
        style="color: #71843f"><strong>{{model.myDevice.description}}</strong></span>
</div>
</br>

<div class="row" style="padding-bottom: 5px; padding-top: 5px;">
    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
        <select class="form-control" id="editevent_repeat_time"
                ng-model="model.myDevice"
                ng-change="model.updateMyDevice(model.myDevice)"
                ng-options="dev.description for dev in model.devices track by dev.featureinterestid">
        </select>
    </div>
</div>

<div class="row" style="padding-bottom: 5px; padding-top: 5px;">
    <div class="col-xl-5 col-md-5 col-sm-6 col-xs-6">
        <table id="last" class="table table-condensed table-bordered table-striped table-condensed">
            <tbody>
            <tr>
                <td><b>Observable Property</b></td>
                <td><b>Datetime</b></td>
                <td><b>Measure Value</b></td>
                <td><b>Unit</b></td>
            </tr>

            <tr ng-repeat="tabdata in model.lastmeasuresData">
                <td>{{tabdata.ObservableProperty}}</td>
                <td>{{tabdata.phenomenonTime}}</td>
                <td>{{tabdata.value}}</td>
                <td>{{tabdata.unit}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<button class="btn btn-success" style="margin-bottom: 20px;" id="newmeasureid" ng-click="model.showModalMeasuring()"
        ng-disabled="{{model.disableMeasurebtn}}">
    New Measurement
    <span class="flaticon-temperature" style="vertical-align:middle; color: whitesmoke;"></span>
</button>

<hr>

<div class="row col-xl-12 col-md-12 col-sm-12 col-xs-12">
    Last crop's Irrigation at <span style="color: #71843f"><strong>{{model.lastIrrigDate}}</strong></span>
</div>

</br>

<div class="row col-xl-12 col-md-12 col-sm-12 col-xs-12">
    <ul>
        <li>
            Start Irrigation Time: <span
                style="color: #71843f"><strong>{{model.wateringIrrigationDateFrom}}</strong></span>
        </li>
        <li>
            End Irrigation Time: <span style="color: #71843f"><strong>{{model.wateringIrrigationDateTo}}</strong></span>
        </li>
        <li>
            Water Consumption (lt): <span style="color: #71843f"><strong>{{model.wateringConsumption}}</strong></span>
        </li>
    </ul>
</div>

<button class="btn btn-success" id="newIrrigationid" ng-click="model.showModal()"
        ng-disabled="{{model.disableMeasurebtn}}">
    Start Irrigation
    <span class="flaticon-bathroom-faucet-tool" style="vertical-align:middle; color: whitesmoke;"></span>
</button>

<hr>

<div class="row col-md-12 col-sm-12 cols-xl-12 xol-xs-12" style="margin-top: 10px;">
    <div class="form-group col-md-2 col-sm-2 cols-xl-2 xol-xs-2">
        <label class="control-label">Time From</label>
        <input type="time" class="form-control" id="autoFromTime" name="input"
               data-ng-model="model.coordinator.autoIrrigFromTime"
               ng-change="model.updateTotalAlgorithmTime()" placeholder="HH:mm:ss" required/>
    </div>

    <div class="form-group col-md-2 col-sm-2 cols-xl-2 xol-xs-2">
        <label class="control-label">Time To</label>
        <input type="time" class="form-control" id="autoUntilTime" name="input"
               data-ng-model="model.coordinator.autoIrrigUntilTime"
               ng-change="model.updateTotalAlgorithmTime()" placeholder="HH:mm:ss" required/>
    </div>

    <div class="form-group col-md-3 col-sm-2 cols-xl-2 xol-xs-3">
        <label class="control-label">Waterflow Rate (lt/h)</label>
        <input type="number" class="form-control" step="10" data-ng-model="model.coordinator.waterConsumption"
               ng-change="model.updateTotalAlgorithmTime()" ng-required="true" min="0" ng-required="true">
    </div>

    <div class="form-group col-md-2 col-sm-2 cols-xl-2 xol-xs-2">
        <button class="btn btn-success" id="savealgorithm" ng-click="model.showModalSaveCoordData()"
                style="margin-top: 25px;">
            Save Data
            <span class="glyphicon glyphicon-save" style="vertical-align:middle; color: whitesmoke;"></span>
        </button>
    </div>

</div>
<span>Total time: {{model.AutomaticTimeDiff}}</span>
