<h4><span class="glyphicon glyphicon-scale" aria-hidden="true"></span>Control panel</h4>
<hr id="headline">

<div class="row col-xl-12 col-md-12 col-sm-12 col-xs-12">
    Last measure for end device at <span style="color: #71843f"><strong>{{model.lastDate}}</strong></span> from <span
        style="color: #71843f"><strong>{{model.myDevice}}</strong></span>
</div>
</br>

<div class="row" style="padding-bottom: 5px; padding-top: 5px;">
    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
        <select class="form-control" id="editevent_repeat_time"
                ng-model="model.myDevice"
                ng-change="model.updateMyDevice(model.myDevice)"
                ng-options="dev.identifier as dev.identifier for dev in model.devices.enddevices">

        </select>
    </div>
</div>

<div class="row" style="padding-bottom: 5px; padding-top: 5px;">
    <div class="col-xl-5 col-md-5 col-sm-6 col-xs-6">
        <table id="last" class="table table-condensed table-bordered table-striped table-condensed">
            <tbody>
            <tr>
                <td><b>Observable Property</b></td>
                <td><b>Datetime</b></td>
                <td><b>Measure Value</b></td>
                <td><b>Unit</b></td>
            </tr>

            <tr ng-repeat="tabdata in model.lastmeasuresData">
                <td>{{tabdata.ObservableProperty}}</td>
                <td>{{tabdata.phenomenonTime}}</td>
                <td>{{tabdata.value}}</td>
                <td>{{tabdata.unit}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<button class="btn btn-success" style="margin-bottom: 20px;" id="newmeasureid">
    New measure
    <span class="flaticon-temperature" style="vertical-align:middle; color: whitesmoke;"></span>
</button>

<div class="row col-xl-12 col-md-12 col-sm-12 col-xs-12">
    Last crop's Irrigation at <span style="color: #71843f"><strong>{{model.lastDate}}</strong></span>
</div>

</br>

<div class="row col-xl-12 col-md-12 col-sm-12 col-xs-12">
    <ul>
        <li>
            Start Irrigation Time: <span style="color: #71843f"><strong>{{model.irrigationDtStart}}</strong></span>
        </li>
        <li>
            End Irrigation Time: <span style="color: #71843f"><strong>{{model.irrigationDtEnd}}</strong></span>
        </li>
        <li>
            Water consume (lt): <span style="color: #71843f"><strong>{{model.irrigationCosnume}}</strong></span>
        </li>
    </ul>
</div>

<button class="btn btn-success" id="newIrrigationid" ng-click="model.showModal()">
    Start Irrigation
    <span class="flaticon-bathroom-faucet-tool" style="vertical-align:middle; color: whitesmoke;"></span>
</button>
