<h4><span
        ng-class="{'flaticon-temperature': model.descr == 'Temperature' || model.descr == 'Internal Temperature ' ,'glyphicon glyphicon-tint':  model.descr == 'Internal Humidity' || model.descr == 'Soil Moisture'}"
        aria-hidden="true"></span>
    {{model.descr}}</h4>
<hr id="headline">
<div class="row">
    <div class="control-group col-md-2 col-sm-2 col-xs-4">
        <label class="control-label">View By End Device</label>

        <div class="controls">
            <select class="form-control" id="editevent_repeat_time" ng-model="model.myDevice"
                    ng-options="dev.identifier as dev.identifier for dev in model.devices.enddevices">
            </select>
        </div>
    </div>
    <div class='col-md-2 col-sm-2 col-xs-4'>
        <div class="form-group">
            <label class="control-label">Date from</label>

            <div class='input-group date' id='datetimepickerfrom'>
                <input type='text' ng-model="model.datefrom" class="form-control"
                       data-date-format="YYYY-MM-DD HH:mm:ss"/>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-2 col-sm-2 col-xs-4'>
        <div class="form-group">
            <label class="control-label">Date To</label>

            <div class='input-group date' id='datetimepickerto'>
                <input type='text' ng-model="model.dateto" class="form-control" data-date-format="YYYY-MM-DD HH:mm:ss"/>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
{{model.datefrom}}
{{model.dateto}}
<div class="row">
    <div class="col-md-5 col-sm-5 col-xs-6">
        <table-data ng-if="model.myDevice" enddevice="model.myDevice" dtfrom="model.datefrom"
                    dtto="model.dateto"></table-data>
    </div>

    <div class="col-md-5 col-sm-5 col-xs-6">
        <nvd3 options="model.chartoptions" data="model.chartdata"></nvd3>
    </div>
</div>

<script type="text/javascript">
    $('#datetimepickerfrom').datetimepicker({});
    $('#datetimepickerto').datetimepicker({
        useCurrent: false //Important! See issue #1075
    });
    $("#datetimepickerfrom").on("dp.change", function (e) {
        $('#datetimepickerto').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepickerto").on("dp.change", function (e) {
        $('#datetimepickerfrom').data("DateTimePicker").maxDate(e.date);
    });
</script>
