<h4><span
        ng-class="{'flaticon-temperature': model.descr == 'Temperature' || model.descr == 'Internal Temperature ' ,'glyphicon glyphicon-tint':  model.descr == 'Internal Humidity' || model.descr == 'Soil Moisture'}"
        aria-hidden="true"></span>
    {{model.descr}}</h4>
<hr id="headline">
<div class="row">
    <div class="control-group col-lg-2 col-md-4 col-sm-4 col-xs-8">
        <label class="control-label">End Device</label>

        <div class="controls">
            <select class="form-control" id="editevent_repeat_time" ng-model="model.myDevice"
                    ng-options="dev.description for dev in model.devices track by dev.featureinterestid"
                    ng-change="model.updateMyDevice(model.myDevice)">
                <!--ng-options="dev.identifier as dev.identifier for dev in model.devices"-->
            </select>
        </div>
    </div>
    <div class='control-group col-lg-2 col-md-4 col-sm-4 col-xs-8'>
        <div class="form-group">
            <label class="control-label">Date from</label>

            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="" href="">
                    <div class="input-group"><input type="text" class="form-control"
                                                    data-ng-model="model.datefrom"><span class="input-group-addon"><i
                            class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="model.datefrom" ng-change="model.updateDateFrom(model.datefrom)"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"
                                    data-before-render="model.beforeRenderStartDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                </ul>
            </div>

        </div>
    </div>
    <div class='control-group col-lg-2 col-md-4 col-sm-4 col-xs-8'>
        <div class="form-group">
            <label class="control-label">Date To</label>
            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="" href="">
                    <div class="input-group"><input type="text" class="form-control" data-ng-model="model.dateto"><span
                            class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="model.dateto" ng-change="model.updateDateTo(model.dateto)"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }"
                                    data-before-render=" model.beforeRenderEndDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-sm-5 col-xs-6">
        <span>Units of measurement:<strong>{{model.measures.unit}}</strong></span>
        <table ng-table="model.tableParams" class="table table table-condensed table-bordered table-striped">
            <tr ng-repeat="row in $data">
                <td title="'Date'" filter="{phenomenonTime: 'date'}" sortable="'phenomenonTime'">
                    {{row.phenomenonTime}}
                </td>
                <td title="'Value'" filter="{value: 'number'}" sortable="'value'">
                    {{row.value}}
                </td>
            </tr>
        </table>

        <button class="btn btn-success" id="getcsv" ng-click="model.downloadFile('csv')">
            CSV
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
        </button>

        <button class="btn btn-success" id="getpdf" ng-click="model.downloadFile('pdf')">
            PDF
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        </button>

        <button class="btn btn-success" id="getxls" ng-click="model.downloadFile('xls')">
            XLS
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
        </button>

    </div>

    <div class="col-md-5 col-sm-5 col-xs-6">
        <nvd3 options="model.options" data="model.data"></nvd3>
    </div>
</div>

