<top-bar></top-bar>

<div class="fullcont col-xl-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container-fluid">
        <!--fixed width no full width container -->
        <div class="row row-offcanvas row-offcanvas-left" style="margin-left: -30px;" id="mynavbar2">
            <div class="row row-offcanvas row-offcanvas-right">
                <left-bar></left-bar>
                <div class="col-xl-10 col-md-10 col-sm-12 col-xs-12 sidebar-offcanvas" role="navigation"
                     id="datacontent">
                    <ng-outlet></ng-outlet>
                </div>
            </div>
        </div>
    </div>
</div>